<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kg.tutorialapp.animals"
    tools:ignore="Instantiatable">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Animals"
        tools:ignore="AllowBackup">
        <receiver
            android:name=".MessageReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="kg.tutorialapp.action.MESSAGE" />
            </intent-filter>
        </receiver>
        <service
            android:name=".SimpleService"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeworkActivities"
            android:label="@string/homeworks"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LessonActivities"
            android:label="@string/lessons"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SimpleViewActivity"
            android:label="@string/simple_view"
            android:parentActivityName=".HomeworkActivities" />
        <activity
            android:name=".AnimalActivity"
            android:label="@string/animals"
            android:parentActivityName=".HomeworkActivities" />
        <activity
            android:name=".CalcActivity"
            android:label="@string/calculator"
            android:parentActivityName=".HomeworkActivities" />
        <activity
            android:name=".ChronometerActivity"
            android:label="@string/chronometer"
            android:parentActivityName=".HomeworkActivities" />
        <activity
            android:name=".ColorActivity"
            android:label="@string/color"
            android:parentActivityName=".HomeworkActivities" />
        <activity
            android:name=".CalculatorActivity"
            android:label="@string/full_calculator"
            android:parentActivityName=".HomeworkActivities" />
        <activity
            android:name=".RelativeLayoutActivity"
            android:label="@string/lesson29"
            android:parentActivityName=".LessonActivities" />
        <activity
            android:name=".GesturesActivity"
            android:label="@string/gestures"
            android:parentActivityName=".HomeworkActivities" />
        <activity
            android:name=".ConstraintLayoutActivity"
            android:label="@string/lesson31"
            android:parentActivityName=".HomeworkActivities" />
        <activity
            android:name=".MoviePosterActivity"
            android:label="@string/movie_poster"
            android:parentActivityName=".HomeworkActivities" />
        <activity
            android:name=".LifecycleActivity"
            android:label="@string/lesson33"
            android:parentActivityName=".LessonActivities" />
        <activity
            android:name=".ActivityOutput"
            android:label="@string/activity_text_output"
            android:parentActivityName=".LifecycleActivity" />
        <activity
            android:name=".ActivityA"
            android:label="@string/a"
            android:parentActivityName=".LessonActivities" />
        <activity
            android:name=".ActivityB"
            android:label="@string/b"
            android:parentActivityName=".LessonActivities" />
        <activity
            android:name=".ActivityC"
            android:label="@string/c"
            android:parentActivityName=".LessonActivities" />
        <activity
            android:name=".ActivityD"
            android:label="@string/d"
            android:parentActivityName=".LessonActivities" />
        <activity
            android:name=".FragmentsActivity"
            android:label="@string/fragments"
            android:parentActivityName=".HomeworkActivities" />
        <activity
            android:name=".ActivityFragment1"
            android:label="@string/fragment1"
            android:parentActivityName=".HomeworkActivities" />
        <activity
            android:name=".ActivityFragment2"
            android:label="@string/fragment2"
            android:parentActivityName=".LessonActivities" />
        <activity
            android:name=".ActivityFragment3"
            android:label="@string/fragment3"
            android:parentActivityName=".LessonActivities" />
        <activity
            android:name=".FragmentArgOutputActivity"
            android:label="@string/fragment_arg"
            android:parentActivityName=".HomeworkActivities" />
        <activity
            android:name=".FragmentArgInputActivity"
            android:label="@string/fragment_arg"
            android:parentActivityName=".HomeworkActivities" />
        <activity
            android:name=".FragmentsOnNavDrawer"
            android:label="@string/fragments_navdrawer"
            android:parentActivityName=".HomeworkActivities" />
        <activity
            android:name=".RecyclerViewActivity"
            android:label="@string/lesson41_42"
            android:parentActivityName=".LessonActivities" />
        <activity
            android:name=".RecyclerEditText"
            android:label="@string/recycler_edittext"
            android:parentActivityName=".HomeworkActivities" />
        <activity
            android:name=".SharedPreferences"
            android:label="@string/shared_preferences"
            android:parentActivityName=".HomeworkActivities" />
        <activity
            android:name=".ReceiverActivity"
            android:label="@string/receiver"
            android:parentActivityName=".HomeworkActivities" />
        <activity
            android:name=".ServiceActivity"
            android:label="@string/service"
            android:parentActivityName=".HomeworkActivities" />
    </application>

</manifest>