<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kg.tutorialapp.animals">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Animals">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/homeworks"
            android:name=".HomeworkActivities"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:label="@string/lessons"
            android:name=".LessonActivities"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:label="@string/animals"
            android:name=".AnimalActivity"
            android:parentActivityName=".HomeworkActivities">
        </activity>

        <activity
            android:label="@string/calculator"
            android:name=".CalcActivity"
            android:parentActivityName=".HomeworkActivities">
        </activity>

        <activity
            android:label="@string/chronometer"
            android:name=".ChronometerActivity"
            android:parentActivityName=".HomeworkActivities">
        </activity>

        <activity
            android:label="@string/color"
            android:name=".ColorActivity"
            android:parentActivityName=".HomeworkActivities">
        </activity>

        <activity
            android:label="@string/full_calculator"
            android:name=".CalculatorActivity"
            android:parentActivityName=".HomeworkActivities">
        </activity>

        <activity
            android:label="@string/lesson29"
            android:name=".RelativeLayoutActivity"
            android:parentActivityName=".LessonActivities">
        </activity>
    </application>

</manifest>